# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Build
build/
tmp/
autom4te.cache/
config.nice
config.log

# Project files
.idea
nbproject

