# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Build
build/
tmp/
autom4te.cache/
config.nice
config.log

# Project files
.idea
nbproject

cmake-build*
modules/
.libs
.deps
cov/
cov-int/

aclocal.m4
acinclude.m4
CMakeLists.txt
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
configure.ac
install-sh
libtool
ltmain.sh
ltmain.sh.backup
Makefile*
missing
mkinstalldirs
run-tests.php

